* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
  
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

.text {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}

h1{ 
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height:120px;
    margin-bottom:40px;
}

h1 span {
    font-size: 30px;
    color: #FBB731;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;

}

p {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom:42px;
}

a{
    color:#1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size:14px;
    font-weight:700;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg {
    width: 432px;
    height: 100%;
    background:linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);


}
img {
    width: 829px;
    position: absolute;
    right: -168px;
   
}
